{{ define "publication" }}

{{ template "header" }}

<main class="px-3">
    <h1 >Форма добавления поста</h1>
    <p class="lead">
        <form action="/save_article" method="post">
            <input type="text" name="title" id="title" placeholder="Название статьи"
            class="form-control"><br>
            <textarea name="anons" id="anons" class="form-control" 
            placeholder="Анонс статьи"></textarea><br>
            <textarea name="full_text" id="full_text" class="form-control" 
            placeholder="Текст статьи" rows="5"></textarea><br>
            <button class="btn btn-lg btn-outline-secondary">Опубликовать</button>
        </form>
    </p>
</main>

{{ template "footer" }}

{{ end }}